# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Pesos / modelos
*.pt
*.pth
*.ckpt

# Datos y salidas locales
data/
datasets/
outputs/
runs/
logs/

# Entornos
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# IDEs/OS
.vscode/
.DS_Store
Thumbs.db

